.group-header
  .group-top-header
    .top-app-logo
      =link_to root_path do
        = image_tag 'beautiful-background-image4.jpeg', alt: 'app-logo', height: '80', width: '80', class: 'app-logo'
    .group-top-header__form
      = search_form_for @search, url: search_groups_path do |f|
        = f.text_field :name_cont, placeholder: "検索", class: "search-field"
        = f.submit "検索", class: "submitBtn" 
      -# .group-search-form
        -# %form{:action => "/", :method => "post", class:"search-area"}
        -#   %input{type:"text", placeholder: "調べたいグループを入力してください", class:"input-area"}
    .group-top-header__myicon
      =link_to "#" do
        =image_tag asset_path('')
  .group-information-backgroud
    -# バックグラウンドのイメージを入れる
    .group-information-form
      .group-information-form__icon
        =link_to "#" do
          =image_tag asset_path('')
      .group-information-form__text
        .group-information-form__text__header
          =link_to new_group_path , class: "create-group-path" do
            %p.group-gametitle グループ作成

  .group-nav
    .group-nav__chat
      %p 新作ゲーム
    .group-nav__summary
      %p 人気のゲーム
    .group-nav__information
      %p 完全無料アプリ
