.top-main-visual
  .top-header
    .top-app-logo
      =link_to "#" do
        = image_tag 'beautiful-background-image4.jpeg', alt: 'app-logo', height: '80', width: '80', class: 'app-logo'
    .logo-text caht info comunity
    .search-box
      = link_to messages_url ,class: "root-group-index" do
        %p.root-group-index グループ一覧を開く
    .login-button
      %p.user-login-button 
        = link_to new_user_session_path , class:"registration-text" do
          新規登録・ログイン
  .app-publicity
    %p.app-publicity__text みんな集まれ！ 完全攻略！
    %p.app-publicity__text__subtitle ゲームは楽しんだもんがち！！
  
