* {
  box-sizing: border-box;
}

.group-header{
  height: 30vh;
  width: 100vw;
  position: fixed;
  background-color: white;
  .group-top-header{
    height: 50px;
    width: 100%;
    display: flex;
    .top-app-logo{
      width: 6%;
      .app-logo{
        border-radius: 30%;
        height: 50px;
        width: 50px;
      }
    }
    &__homeicon{
      width: 5%;
    }
    &__form{
      width: 85%;
      .group-search-form{
        height: 100%;
        width: 100%;
        margin: auto;
        form{
          width: 100%;
          height: 100%;
          input{
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    &__myicon{
      width: 5%;
    }
  }
  .group-information-backgroud{
    // 仮でイメージ挿入
    background-image: url(beautiful-background-image8.jpg);
    height: 70px;
    width: 100%;
    position: relative;
    background-color: white;
    .group-information-form{
      position: absolute;
      height: 85%;
      width: 90%;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      margin-top: auto;
      background-color: yellow;
      display: flex;
      border-style: solid;
      &__icon{
        height: 100%;
        width: 10%;
        display: inline-block;
      }
      &__text{
        width: calc(100% - 20%);
        height: 100%;
        display: inline-flex;
        vertical-align: middle;
        &__header{
          display: inline-block;
          height: 80%;
          width: 60%;
          margin: 0 auto;
          margin-top: 5px;
          .create-group-path{
            text-decoration: none;
            color: black;
            line-height: 50px;
            .group-gametitle {
              text-align: center;
              font-size: 25px;
              margin-top: 3px;
            }
          }
        }
      }
    }
  }
  .group-nav{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    .group-nav__chat{
      display: inline-block;
      width: 30%;
      text-align: center;
      padding-top: 7px;
      font-size: large;
      color: orange;
      border-style: outset;
      cursor: alias;
    }
    .group-nav__summary{
      display: inline-block;
      width: 30%;
      text-align: center;
      padding-top: 7px;
      font-size: large;
      color: blue;
      border-style: outset;
    }
    .group-nav__information{
      display: inline-block;
      width: 30%;
      text-align: center;
      padding-top: 7px;
      font-size: large;
      color: purple;
      border-style: outset;
    }
  }
}

.group-main {
  width: 100vw;
  display: flex;
  padding-top: 30vh;
  background-color: yellow;
  height: 100vh;
  .group-list{
    width: 90vw;
    display: inline-block;
    margin: auto;
    overflow: scroll;
    height: 95%;
    .group{
      display: inline-block;
      margin: 10px;
      width: 30%;
      height: 170px;
      border-style: groove;
      background-color: white;
      padding: 10px;
      text-align: center;
      .group-link-path{
        text-decoration: none;
        .name{
          color: black;
        }
        .group__message{
          color: black;
        }
      }
    }
  }
}