* {
  box-sizing: border-box;
}


.top-main-visual{
  height: 100vh;
  width: 100vw;
  background-image: url(cool-image1.jpg);
  .top-header{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-around;
    .top-app-logo{
      width: 60px;
      height: 100%;
      float: left;
      .app-logo{
        border-radius: 30px;
      }
    }
    .logo-text{
      width: 100px;
      height: 100%;
      color: white;
      margin-left: 20px;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-transform: uppercase;
      line-height: 40px;
    }
    .search-box{
      height: 100%;
      width: calc(100vw - 220px);
      border-radius: 30px;
      .root-group-index{
        text-decoration: none;
        .root-group-index{
          height: 100%;
          color: white;
          text-align: center;
          font-size: 40px;
          line-height: 85px;
          text-decoration: none;
        }
      }
    }
    .login-button{
      width: 170px;
      height: 100%;
      margin-top: 15px;
      display: flex;
      white-space: nowrap;
      margin-right: 10px;
      .user-login-button{
        text-align: center;
        line-height: 60px;
        height: 30px;
        .registration-text{
          color: white;
          text-decoration: none;
          font-family: 'Times New Roman', Times, serif;
        }
      }
      .user-edit-button {
        width: 50%;
        text-align: center;
        line-height: 60px;
        .edit-registration-text{
          color: white;
          text-decoration: none;
          font-family: 'Times New Roman', Times, serif;
        }
      }
      .user-logout-button {
        text-align: center;
        line-height: 60px;
        .registration-text{
          color: white;
          text-decoration: none;
          font-family: 'Times New Roman', Times, serif;
        }
      }
    }
  }
  .app-publicity{
    width: 90%;
    margin: auto;
    margin-top: 70px;
    &__text{
      color: white;
      font-size: 100px;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      white-space: nowrap;
      &__subtitle{
        color: white;
        font-size: 80px;
        text-align: center;
        font-family: monospace;
        white-space: nowrap;
      }
    }
  }
}